﻿@{
    ViewBag.Title = "Movie Titles";
}

@section scripts {
    <script src="~/js/app-turner.js"></script>
    <script src="~/js/titlesController.js"></script>
}

<div ng-app="app-turner">

    <div class="jumbotron">
        <h1>Turner Movies</h1>
        <p class="lead">Movie Titles</p>
    </div>

    <div ng-view></div>

    <div ng-controller="titlesController as vm">

        <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage}}</div>
        <div class="row">
            <form novalidate name="searchTitle" ng-submit="vm.findTitle()">
                <div class="form-group">
                    <label class="col-md-1 pull-left" for="title">Title:</label>
                    <input type="text" class="form-control col-md-3 pull-left" id="title" name="title" ng-model="vm.searchString.name">
                </div>
                <div class="form-group col-md-8 pull-left">
                    <input type="submit" class="btn btn-success btn-sm" value="Search" />
                </div>
            </form>
        </div>
        <div class="row" ng-show="vm.showTitles">
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-responsive table-striped">
                        <tr ng-repeat="title in vm.titles">
                            <td ng-show="false">{{ title.TitleId}}</td>
                            <td>{{ title.TitleName }}</td>
                            <td>{{ title.ReleaseYear }}</td>                            
                            <td>
                                <input type="submit" class="btn btn-sm btn-success" value="Detail" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" ng-show="vm.showDetails">
            <div class="form-group">
                <label for="title">Participant:</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="title">Awards Won:</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="title">Genere:</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="title">Storyline :</label>
                <input type="text" class="form-control" id="email">
            </div>
        </div>

    </div>
</div>
